
h1,h2,h3,h4,p,span,button,body {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 3px;
  padding: 3px;
}

ol, li {
  margin-left: 5px;
  padding-left: 5px;
}


.App {
  margin:10px;
  font-family: 'Roboto', sans-serif;
}
